import React from 'react';
import PropTypes from 'prop-types';
import { compose } from 'redux';
import { connect } from 'react-redux';
{{#if wantSelectors}}
import { createStructuredSelector } from 'reselect';
{{/if}}
{{#if wantActionsAndReducer}}
{{#if wantLoadable}}
import injectReducer from 'utils/injectReducer';
{{/if}}
{{/if}}
{{#if wantSagas}}
import injectSaga from 'utils/injectSaga';
{{/if}}

{{#if wantMSelectors}}
import {
  makeSelect{{ properCase name }}{{ properCase mselectorName }},
} from './selectors';
{{/if}}
{{#if wantActionsAndReducer}}
import * as {{ camelCase name }}Actions from './actions';
{{#if wantLoadable}}
import reducer from './reducer';
{{/if}}
{{/if}}
{{#if wantSagas}}
import sagas from './sagas';
{{/if}}

export class {{ properCase name }} extends React.PureComponent {
  render() {
    return (
      <div>
{{#if wantSelectors}}
        <p>{{curly true}}this.props.{{ camelCase selectorName }}{{curly false}}</p>
{{/if}}
{{#if wantMSelectors}}
        <p>{{curly true}}this.props.{{ camelCase mselectorName }}{{curly false}}</p>
{{/if}}
{{#if wantActionsAndReducer}}
        <input type="button" onClick={this.props.on{{ properCase actionName }}Action} />
{{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
{{#if wantSelectors}}
  {{ camelCase selectorName }}: PropTypes.string.isRequired,
{{/if}}
{{#if wantMSelectors}}
  {{ camelCase mselectorName }}: PropTypes.string.isRequired,
{{/if}}
{{#if wantActionsAndReducer}}
  on{{ properCase actionName }}Action: PropTypes.func.isRequired,
{{/if}}
};

{{#if wantActionsAndReducer}}
export function mapDispatchToProps(dispatch) {
  return {
    on{{ properCase actionName }}Action: () => dispatch({{ camelCase name }}Actions.{{ camelCase actionName }}()),
  };
}

{{/if}}
{{#if wantSelectors}}
const mapStateToProps = createStructuredSelector({
  {{ camelCase selectorName }}: (state) => state.getIn(['{{ camelCase name }}', '{{ camelCase selectorName }}']),
{{#if wantMSelectors}}
  {{ camelCase mselectorName }}: makeSelect{{ properCase name }}{{ properCase mselectorName }}(),
{{/if}}
});
{{/if}}

export default compose(
{{#if wantSagas}}
  injectSaga({ key: '{{ camelCase name }}', saga: sagas }),
{{/if}}
{{#if wantActionsAndReducer}}
{{#if wantLoadable}}
  injectReducer({ key: '{{ camelCase name }}', reducer }),
{{/if}}
  connect(mapStateToProps, mapDispatchToProps),
{{else}}
{{#if wantSelectors}}
  connect(mapStateToProps, null),
{{else}}
  connect(null, null),
{{/if}}
{{/if}}
)({{ properCase name }});
