    <%= require('raw-loader!index/header.html') %>

    <title>Ballot</title>

    <% if (!htmlWebpackPlugin.options.inject) {
      for (let key of htmlWebpackPlugin.files.css) { %>
        <link rel="stylesheet" href="<%= key %>">
      <% }
    } %>
  </head>
  <body>
    <!-- The app hooks into this div -->
    <div id="app"></div>

    <noscript>Please enbale javascript.</noscript>

    <%= require('raw-loader!index/outdated.html') %>
    <script src="<%= htmlWebpackPlugin.files.js.filter((j) => /outdated/.test(j)) %>"></script>

    <% if (!htmlWebpackPlugin.options.inject) {
      for (let key of htmlWebpackPlugin.files.js) { %>
        <script src="<%= key %>"></script>
      <% }
    } %>
  </body>
</html>
