<!DOCTYPE html><% const { i18n } = htmlWebpackPlugin.options %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <title><%- i18n.title %></title>

    <style type="text/css">
      iframe {
        resize: both;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1><%- i18n.title %></h1>

    <h2><%- i18n.anonyTitle %></h2>
    <form action="<%= process.env.API_URL %>/secret/" method="get" target="checkAnony">
      <input type="submit" value="Submit" />
    </form>
    <p><%- i18n.anonyResultTitle %></p>
    <iframe name="checkAnony" src="about:blank"></iframe>
    <p><%- i18n.anonyResultDescription %></p>

    <h2><%- i18n.submitTitle %></h2>
    <form action="<%= process.env.API_URL %>/secret/tickets" method="post" target="submitResult">
      <input name="enc" />
      <input type="submit" value="Submit" />
    </form>
    <p><%- i18n.submitResultTitle %></p>
    <iframe name="submitResult" src="about:blank"></iframe>
    <p><%- i18n.submitResultDescription %></p>

    <h2><%- i18n.queryTitle %></h2>
    <form action="<%= process.env.API_URL %>/secret/tickets" method="get" target="queryResult">
      <label>tId</label>
      <input name="tId" />
      <input type="submit" value="Submit" />
    </form>
    <p><%- i18n.queryResultTitle %></p>
    <iframe name="queryResult" src="about:blank"></iframe>
    <p><%- i18n.queryResultDescription %></p>
  </body>
</html>
